p::first-line{
    color: blue;
}

p::first-letter{
    color: red;
    font-size: xx-large;
}

p::before{
    content: "some before content: "
}

p::after{
    content: ": some after content"
}

p.highlight:hover {
    background-color: lightblue;
}

input:focus {
    background-color: lightblue;
}
